$uni-color-primary: #141414;
$uni-color-success: #141414;
$uni-color-warning: #c49a36;
$uni-color-error: #b23a48;
$uni-text-color: #141414;
$uni-text-color-inverse: #ffffff;
$uni-text-color-grey: #5e5e5e;
$uni-text-color-placeholder: #8e8e8e;
$uni-text-color-disable: #c8c8c8;
$uni-bg-color: #eeeeee;
$uni-bg-color-grey: #fcfcfc;
$uni-bg-color-hover: #e1e1e1;
$uni-bg-color-mask: rgba(0, 0, 0, 0.5);
$uni-border-color: #e4e4e4;
$uni-border-radius-sm: 8rpx;
$uni-border-radius-base: 16rpx;
$uni-border-radius-lg: 24rpx;
